<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head', {title: 'Inicio'}) %>

<body>

  <%- include('./partials/headerNavbar') %>
  
  <section id="banner">
    <img src="images/img-home-banner.jpg" alt="banner">
  </section>
  <main id="principal">
    <section class="visitas">
      <h1 class="titles">Basado en tu última visita</h1>

      <% for(let visita of visitada) { %> 

        <a href="/products/detail/<%= visita.id %>">
          <article class="arti">            
            <img src="images/products/<%= visita.image %>" alt="Cafetera Moulinex">
            <div class="bloque">
              <div class="icono">
                <i class="fas fa-truck"></i>
              </div>
              <div class="total">          
                <span class="price">$<%=  visita.price %></span>         
                <span class="discount"><%=  visita.discount %>% OFF</span>
              </div>  
              <p class="description"><%= visita.name %></p>
            </div>          
          </article>
        </a>

      <% } %>  

    </section>
    <section class="ofertas">
      <h2 class="titles">Ofertas</h2>
      <% for(let oferta of ofertada) { %>
        <a href="/products/detail/<%= oferta.id %>">
          <article class="arti">
            <img src="images/products/<%= oferta.image %>" alt="Cafetera Moulinex">
            <div class="bloque">
              <div class="icono">
                <i class="fas fa-truck"></i>
              </div>
              <div class="total">          
                <span class="price">$ <%=  oferta.price %></span>         
                <span class="discount"><%=  oferta.discount %>% OFF</span>
              </div>  
              <p class="description"><%=  oferta.name %></p>
            </div>
          </article>
        </a>
      <% } %>
    </section>
  </main>

  <%- include('./partials/footer') %>  

</body>
</html>