<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets//bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link">
						<img src="/images/logo-mercado-liebre.svg">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/search" method="GET" class="search-form">
						<input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a href="#" class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Comprá en cuotas y sin tarjeta de crédito
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/products">Todos los productos</a></li>
					<li><a href="#">Ofertas</a></li>
					<li><a href="#">Tiendas Oficiales</a></li>
					<li><a href="/products/create">Vender</a></li>
					<li><a href="#">Ayuda</a></li>
				</ul>
	
				<ul class="right-navbar">
					<li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
					<li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
					<li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= detalle.name %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%= detalle.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= detalle.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= detalle.name %></h2>
						
							<p class="product-detail-price small">
								<span>$<%= convertir(detalle.price) %></span>
								/
								<b><%= detalle.discount %>% OFF</b>
							</p>
							<% if (detalle.discount > 0) { %>							
								<p class="product-detail-price">
									<% precioFinal = (detalle.price - detalle.discount) %>
									$ <%= convertir(precioFinal) %>
								</p>
							<% } else { %>
								<p class="product-detail-price">
									$ <%= convertir(detalle.price) %>
								</p>
							<% } %>
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= detalle.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= detalle.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
							es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
							de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
							protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<div class="sub-footer">
		<div class="container">
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</div>
	</div>
	<!-- /footer -->

</body>	
</html>